.formBlock{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}
.inputBlock{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.topPadding{
    padding-top: 10px;
}
.inputCheckbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}
.updateAndDeleteContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image {
    overflow: hidden;
    background-color: transparent;
    border: none;
    color: rgb(100, 100, 100);
    font-size: 22px;
    align-items: center;
}

img {
    transition: transform 0.25s;
}
.image:hover img {
    transform: scale(1.1);
}
