.day {
    padding: 4px 8px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid transparent;
    font-size: 36px;
    width:2em;
    display:inline-block;
    color: rgb(239, 239, 239);
}

.day:hover {
    cursor: pointer;
    border: 2px solid rgb(125, 125, 125);
}

.selected {
    border: 2px solid dodgerblue;
    padding: 4px 8px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    width:2em;
    display:inline-block;
}

.today {
    padding: 4px 8px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid black;
    font-size: 40px;
    width:2em;
    display:inline-block;
    color: white;
    background-color: dodgerblue;
}

.dayOfOtherMonth {
    padding: 4px 8px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid transparent;
    font-size: 36px;
    width:2em;
    display:inline-block;
    color: rgb(100, 100, 100);
}

.calendar {
    background-color: rgb(37, 38, 38);
}

.dateContainer {
    padding-top: 15px ;
    padding-left: 25px;
    padding-bottom: 25px;
}

.time {
    color: white;
    font-family: system-ui;
    font-size: 40px;
}

.date {
    color: rgb(166, 216, 255);
}

.doubleContainer {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectedMonth {
    color: white;
}

.selectedDay {
    color: white;
}
button {
    background-color: transparent;
    border: none;
    color: rgb(100, 100, 100);
    font-size: 30px;
}

button:hover {
    color: white;
}

.dateAndSelectedMonthContainer {
    border: 1px solid rgb(100, 100, 100);
    padding: 10px;
}

.namesOfWeek {
    padding: 4px 8px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid transparent;
    font-size: 18px;
    width:2em;
    display:inline-block;
    color: rgb(239, 239, 239);
}

.namesOfWeekContainer{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 10px;
}

